<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.my.shop.web.admin.dao.TbContentCategoryMapper">
  <resultMap id="BaseResultMap" type="com.example.my.shop.domain.TbContentCategory">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="is_parent" jdbcType="BIT" property="isParent" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />

    <association property="parent" javaType="TbContentCategory">
     <id column="id" jdbcType="BIGINT" property="id"/>
      <result column="name" jdbcType="VARCHAR" property="name"/>
    </association>

  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, parent_id, `name`, `status`, sort_order, is_parent, created, updated
  </sql>

  <sql id="tbContentCategoryJoins">
        a.id,
        a.parent_id AS parentId,
        a.`name`,
        a.`status`,
        a.sort_order AS sortOrder,
        a.is_parent AS isParent,
        a.created,
        a.updated,
        IFNULL(b.id, '0') AS "parent.id",
        IFNULL(b.`name`, '/') AS "parent.name"
    FROM
        tb_content_category a
    LEFT JOIN tb_content_category b ON a.parent_id = b.id
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="TbContentCategory">
    <!--@mbg.generated-->
    select 
<!--    <include refid="Base_Column_List" />-->
<!--    from tb_content_category-->

    <include refid="tbContentCategoryJoins"/>
    where a.id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from tb_content_category
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.my.shop.domain.TbContentCategory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_content_category (parent_id, `name`, `status`, 
      sort_order, is_parent, created, 
      updated)
    values (#{parentId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{sortOrder,jdbcType=INTEGER}, #{isParent,jdbcType=BIT}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.example.my.shop.domain.TbContentCategory">
    <!--@mbg.generated-->
    update tb_content_category
    set parent_id = #{parentId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      is_parent = #{isParent,jdbcType=BIT},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-05-08-->
  <select id="selectAll" resultType="TbContentCategory">
    select
      <include refid="tbContentCategoryJoins"/>
    ORDER BY a.parent_id ASC , a.sort_order ASC ,a.is_parent desc
  </select>

<!--auto generated by MybatisCodeHelper on 2019-05-10-->
  <select id="selectByParentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_content_category
    where parent_id=#{parentId,jdbcType=BIGINT}
  </select>

</mapper>